.container {
  padding: 30px;
  max-width: 1200px;
  text-align: center;
}

.country-header {
  text-align: center;
}

.country-label {
  font-weight: bold;
}

.countries-list {
  list-style: none;
}

.countries-list-item {
  padding: 5px;
}
